body{
    background: #696666;
}
.main-heading, h1, h2{
    color:rgb(26, 166, 241);
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.banner-image{
    width:100%;
    height: 70vh; 
    padding-top: 2em;
}

.main-para-div{
    margin-top: 3rem;
}
.main-para{
    display: flex;
    justify-content:start;
    /* text-align: center; */
    font-size: large;
    font-weight: bolder;
    letter-spacing: normal;
    color: black;
    line-height: 2em;
}
h2{
    color:white !important;
}
.footer{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
}

